@media screen {
  #editor {
    position: absolute;
    top:200px;
    right:0px;
    bottom: 0;
    left: 0;
    height: 600px;
  }
  footer .btn {
    margin: 0 150px;
    height: 20px;
  }
  header .btn {
    margin: 0 5px;
  }
  .editor-footer, .editor-header{
    margin: 10px 0;
  }
  .curson {
    background: rgba(0, 250, 0, 0.5);
    z-index: 40;
    width: 2px!important;
  }
}
